<div class="container">
    <h1>Player's information</h1>
    <%= render "shared/nav" %>
    <h2><%= @players_searched.name%></h2>
    <p>e-mail: <%= @players_searched.email%></p>
    <p>phone: <%= @players_searched.phone%></p>

    <h2>This player plays on</h2>
    <ul>
    <% @players_searched.parks.each do |itemP| %>
        <li><%= itemP.name %></li>
    <% end %>
    </ul>
</div>
